.brands-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  position: relative;
  background: #fff;
  gap: 1rem;
}

.brands-window {
  overflow: hidden;
  width: 100%;
  /* 2 x 360px card + 2 x 20px gap */
}

.brands-track {
  display: flex;
  gap: 20px;
  transition: transform 0.5s ease;
}

.brand-card {
  flex: 0 0 550px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  background: none;
}

.brand-card:hover .brand-image img {
  transform: scale(1.05);
  opacity: 0.95;
}

.brand-image {
 
  background-image: url('/static/images/bgbrands.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
  padding-top: 1rem;
  overflow: hidden;
}

.brand-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Adjust opacity as needed */
  z-index: 0;
}

.brand-image > * {
  position: relative;
  z-index: 1;
}

.brand-image img {
  margin-bottom: 130px;
  height: 350px;
  z-index: 1;
  position: absolute;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.brand-card h3,
.brand-card p {
  z-index: 2;
  margin: 0.5rem 1rem 0;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.brand-card h3.lager {  
  align-items: left;
  margin-top: 400px;
  color: white;
  transition: color 0.3s ease;
}

.brand-card:hover h3.lager {
  color: #ea3838;
}

.brand-card p {
  padding-top: 20px;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.carousel-btn {
  background: #0E0E96;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  color: #f9f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  z-index: 10;
}

.carousel-btn.left {
  position: relative;
  left: 0;
  
}

.carousel-btn.right {
  position: relative;
  right:0;
 
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.card-link:hover {
  color: inherit;
}


@media (max-width: 768px) {
  .brands-window {
    width: 100%;
  }

  .brand-card {
    flex: 0 0 80%;
  }

  .brand-image {
    height: 300px;
  }

  .brand-image img {
    height: 320px;
  }

}