{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}
<div class="text-center">
  <h1 style="font-size: 40px; font-weight: 800; color: #01080f">{% trans "Welcome." %}</h1>
  {% get_providers as socialaccount_providers %}
  {% if socialaccount_providers %}
   <p style="font-size: 18px; font-weight: 400; color: #01080f">Sign in using Google or Facebook.<br>
    {{ site_name }}</p>
  <div class="socialaccount_ballot">
    <div class="socialaccount_providers">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </div>

    <div class="login-or border-top border-bottom my-3">{% trans 'OR' %}</div>

  </div>

  {% include "socialaccount/snippets/login_extra.html" %}

  {% else %}
  <p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
  </p>
  {% endif %}
</div>


<div class="row">
  <div class="col-md-6 offset-md-3">
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form|crispy }}

      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      
      
<div class="container">
   <div class="d-grid gap-3">
                  <button class="primaryAction mt-3 btn btn-primary" type="submit" style="margin: auto;"
           >{% trans "&nbsp &nbsp &nbsp  &nbsp  Sign In with your Username &nbsp &nbsp &nbsp " %}</button><br>  </div>

           <div class="container">
          <div class="d-grid gap-3">
       <a class="button secondaryAction text-dark text-center" style="font-size: 17px; font-weight: 500; color: #01080f;" href= "{% url 'account_signup' %}">
        No Account? Sign up  </a> </div>
       <br>
      
       <div class="d-grid gap-3">
        <a class="button secondaryAction text-dark text-center" style="font-size: 10px; font-weight: 400; color: #01080f;" href= "{% url 'account_reset_password' %}">
          Forgot Your Password?   </a> </div>
        <br>
      </div>

    </form>
  </div>
</div>
  </div>
</div>

{% endblock %}