{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign out" %}{% endblock %}

{% block content %}
<div class="text-center">
  
  <h1 style="font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 50px; font-weight: 800; color: #007BFF;">{% trans "Sign Out" %}</h1>

  <p style="font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 20px; font-weight: 800; color: #01080f;">{% trans "Are you sure you want to sign out?" %}</p>

  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="primaryAction mt-3 btn btn-danger" type="submit">{% trans 'Sign Out' %}</button>
  </form>

</div>
{% endblock %}

