{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Password Reset Successful" %}{% endblock %}

{% block content %}
<style>
    .responsive-container {
        margin: 5% auto;
        text-align: center;
        max-width: 600px; /* Max width for larger screens */
        padding: 20px;
    }

    .responsive-container h1 {
        font-family: 'Helvetica Neue', Arial, sans-serif;
        font-size: 36px;
        color: #007BFF;
        font-weight: 800;
    }

    .responsive-container p {
        font-size: 20px;
        font-weight: 400;
        color: #01080f;
    }

    .responsive-container a {
        font-size: 18px;
        font-weight: 600;
        color: #007BFF;
        text-decoration: none;
        border: 1px solid #007BFF;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #ffffff;
    }

    /* Responsive adjustments */
    @media (max-width: 768px) {
        .responsive-container h1 {
            font-size: 28px; /* Smaller font size on smaller screens */
        }

        .responsive-container p,
        .responsive-container a {
            font-size: 16px; /* Smaller font size for text and links */
        }
    }
</style>

<div class="responsive-container">
    <h1>{% trans "Password Reset Successful" %}</h1>

    <p>{% trans "Your password has been reset successfully." %}</p>

    {% if user %}
        <p>{% blocktrans %}Your username is {{ user.username }}.{% endblocktrans %}</p>
    {% endif %}

    <a href="{% url 'account_login' %}">{% trans "Proceed to login" %}</a>
</div>
{% endblock %}

