<!-- Old footer -->


<footer class="bg-gray-800 text-white py-10">
    <div class="container mx-auto flex flex-wrap justify-between">
      <div class="flex-1 text-center lg:text-left mb-8 lg:mb-0">
        <h2 class="text-xl font-bold mb-4">SBC KENYA LTD</h2>
        <p class="text-lg">P.O Box 76748-00620 Nairobi</p>
        <p class="text-lg">Ruaraka off BabaDogo Road</p>
        <div class="mt-8">
          <h3 class="text-lg font-bold mb-4">Contact Us</h3>
          <p class="mb-2 text-lg">&#9993; Email: <a href="mailto:info@sbckenya.com"
              class="hover:text-red-500">info@sbckenya.com</a></p>
          <p class="text-lg">&#9742; Phone: <a href="tel:(020)8635000" class="hover:text-red-500">(020) 8635000</a></p>
        </div>
        <p><a href="{% url 'sbcapp:privacy_and_terms' %}" class="underline text-lg hover:text-red-500">Privacy
            Policy</a></p>
        <p><a href="{% url 'sbcapp:privacy_and_terms' %}" class="underline text-lg hover:text-red-500">Terms of
            Service</a></p>
        <p class="text-lg">&copy; 2024 SBC KENYA LTD. All rights reserved.</p>
      </div>
      <div class="flex-1 text-center lg:text-left mb-8 lg:mb-0">
        <div class="mb-8">
          <h3 class="text-lg font-bold mb-4">Quick Links</h3>
          <a href="{% url 'sbcapp:home' %}" class="block text-lg hover:text-red-500">Our Home</a>
          <a href="{% url 'sbcapp:about' %}" class="block text-lg hover:text-red-500">Our Story</a>
          <a href="{% url 'sbcapp:brands' %}" class="block text-lg hover:text-red-500">Brands</a>
          <a href="{% url 'store:category_list' %}" class="text-white hover:text-gray-300">Categories</a>

        </div>
        <div>
          <h3 class="text-lg font-bold mb-4">Opportunities</h3>
          <a href="{% url 'recruitment:advertisement_list' %}" class="block text-lg hover:text-red-500">Careers</a>
          <a href="{% url 'procurement:tender_list' %}" class="block text-lg hover:text-red-500">Tenders</a>
        </div>
      </div>
      <div class="flex-1 text-center lg:text-left">
        <h3 class="text-lg font-bold mb-4">Follow Us on Social Media</h3>
        <a href="#" class="block text-lg hover:text-red-500"><i class="fab fa-facebook-f"></i> Facebook</a>
        <a href="#" class="block text-lg hover:text-red-500"><i class="fab fa-twitter"></i> Twitter</a>
        <a href="#" class="block text-lg hover:text-red-500"><i class="fab fa-instagram"></i> Instagram</a>
        <a href="#" class="block text-lg hover:text-red-500"><i class="fab fa-tiktok"></i> TikTok</a>
        <a href="#" class="block text-lg hover:text-red-500"><i class="fab fa-youtube"></i> YouTube</a>
        <a href="#" class="block text-lg hover:text-red-500"><i class="fab fa-linkedin"></i> LinkedIn</a>
        <a href="#" class="block text-lg hover:text-red-500"><i class="fas fa-globe"></i> SBC Kenya Ltd</a>
      </div>
    </div>
  </footer>