{% extends "socialaccount/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}
<div style="text-align: center; background-color: #f6eeee; padding: 40px; border-radius: 10px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); max-width: 600px; margin: 50px auto;">
{% if process == "connect" %}
<h1 style="font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 40px; font-weight: 700; color: #005CB4; margin-bottom: 20px;">{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>
<p style="font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 18px; color: #333; margin-bottom: 30px;">{% blocktrans with provider.name as provider %} You are about to connect using your {{ provider }} account.{% endblocktrans %}</p>
{% else %}
<h1 style="font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 40px; font-weight: 700; color: #005CB4; margin-bottom: 20px;">{% blocktrans with provider.name as provider %}Sign in with {{ provider }}{% endblocktrans %}</h1>
<p style="font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 18px; color: #333; margin-bottom: 30px;">{% blocktrans with provider.name as provider %}Please click to continue with {{ provider }}.{% endblocktrans %}</p>
{% endif %}
<form method="post" style="margin-top: 30px;">
  {% csrf_token %}
  <button class="primaryAction mt-3 btn btn-primary" type="submit" style="font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 18px; font-weight: 600; padding: 10px 20px; border-radius: 5px; background-color: #005CB4; color: #fff; border: none; cursor: pointer;">{% trans "CONTINUE &raquo" %}</button>
</form>
</div>
{% endblock %}

