{% extends "sbcapp1/base.html" %}
{% load static %}
{% block content %}
<link rel="preload" href="{% static 'videos/brand-vid.mp4' %}" as="video" type="video/mp4">
<style>
html, body
{
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
</style>
<div class="brand-intro">
    <video class="intro-video" autoplay muted loop playsinline preload="metadata" id="intro-video">
        <source src="{% static 'videos/brand-vid.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
<div class="brand-logos">
    <img src="{% static 'images/7up.png' %}" class="logo" alt="Logo 1" loading="lazy">
    <img src="{% static 'images/mir.png' %}" class="logo" alt="Logo 2" loading="lazy">
    <img src="{% static 'images/mtn.png' %}" class="logo" alt="Logo 3" loading="lazy">
    <img src="{% static 'images/pep-logo.png' %}" class="logo" alt="Logo 4" loading="lazy">
  </div>
<div class="carbonated-container" id="carbonated-container">
    <h2>THE CARBONATED BEVERAGES</h2>
    <div class="brand-container" id="pepsi-container">
        <h3>PEPSI</h3>
        <div class="text-container">
            <p>
                Pepsi isn't just a drink, it's a refreshingly versatile companion. Fits your mood and moment perfectly, with options from the pocket-sized 300ml can for a quick solo pick-me-up to the shareable 1L bottle for movie nights with friends. No matter the occasion, that iconic fizz bursts with vibrant cola flavor, leaving you cool and satisfied. Whether you're grabbing a plastic bottle for a park stroll or pouring a stylish glass from a sleek 300ml bottle, every sip feels like a mini-celebration. So, reach for a Pepsi – it's more than a drink, it's an invitation to fizz up your life, one delicious sip at a time.</p>
                <a href="{% url 'product-list' %}" class="shop-now-button"><span>Shop Now</span><i class="fas fa-shopping-cart"></i></a>
            </div>
        <div class="slideshow-container">
            <img loading="lazy" class="brand-image" src="{% static 'images/pep-logo.png' %}" alt="Pepsi">
            <img loading="lazy" class="brand-image" src="{% static 'images/peps.png' %}" alt="Pepsi">
            <img loading="lazy" class="brand-image" src="{% static 'images/pep5.png' %}" alt="Pepsi">
            <img loading="lazy" class="brand-image" src="{% static 'images/pepcan.png' %}" alt="Pepsi">
        </div>
    </div>

    <div class="brand-container" id="mountain-dew-container">
        <h3>MOUNTAIN DEW</h3>
        <div class="text-container">
            <p>Forget ordinary, thirst-quenching. Mountain Dew isn't just a soda, it's a bold invitation: Do the Dew. Unleash a surge of citrusy, electrifying flavor that ignites your senses and fuels your adventures. Whether you're shredding trails, conquering deadlines, or rocking out with friends, Mountain Dew's electric bite keeps you charged and ready to push your limits. Crack open a can and feel the amped-up energy course through you, a vibrant jolt that dares you to "Do the Dew" in your own unique way. It's more than a drink, it's a battle cry, a call to action to seize the day and embrace the extraordinary. So, answer the call, grab a Mountain Dew, and let the adventure begin.</p>
            <a href="{% url 'product-list' %}" class="shop-now-button"><span>Shop Now</span><i class="fas fa-shopping-cart"></i></a>
        </div>
        <div class="slideshow-container">
            <img loading="lazy" class="brand-image" src="{% static 'images/mtnlogo.png' %}" alt="Pepsi">
            <img loading="lazy" class="brand-image" src="{% static 'images/mtn2.png' %}" alt="Pepsi">
            <img loading="lazy" class="brand-image" src="{% static 'images/mtn2l.png' %}" alt="Pepsi">
            <img loading="lazy" class="brand-image" src="{% static 'images/mtn4.png' %}" alt="Pepsi">
            <img loading="lazy" class="brand-image" src="{% static 'images/mtn50.png' %}" alt="Pepsi">
        </div>
    </div>

    <div class="brand-container" id="seven-up-container">
        <h3>SEVEN UP</h3>
        <div class="text-container">
           <p>7Up isn't just a soda, it's a cris, clean escape from the ordinary. Its signature lemon-lime flavor bursts with sunshine, offering an invigorating and uplifting experience in every sip. Whether you're seeking a cool respite on a scorching day or a refreshing pause during a busy schedule, 7Up delivers an unparalleled taste sensation.
            Unlike sugary drinks that weigh you down, 7Up's lightness makes it the perfect companion for any occasion. Its bubbly effervescence tickles your taste buds, leaving you feeling cool, recharged, and ready to take on whatever comes your way. So, reach for a can of 7Up and let its bright, citrusy magic transport you to a world of pure refreshment. It's the perfect reminder that sometimes, the simplest pleasures are the most satisfying.
        </p>
<a href="{% url 'product-list' %}" class="shop-now-button"><span>Shop Now</span><i class="fas fa-shopping-cart"></i></a>
</div>
        <div class="slideshow-container">
            <img loading="lazy" class="brand-image" src="{% static 'images/7Logo.svg' %}" alt="Pepsi">
            <img loading="lazy" class="brand-image" src="{% static 'images/7upcan.png' %}" alt="Pepsi">
            <img loading="lazy" class="brand-image" src="{% static 'images/7up2l.png' %}" alt="Pepsi">
            <img loading="lazy" class="brand-image" src="{% static 'images/7up3.png' %}" alt="Pepsi">

        </div>
    </div>
    <div class="brand-container" id="mirinda-container">
        <h3>MIRINDA</h3>
        <div class="text-container">
      <p>Mirinda: Where Sunshine Meets Fizz
        Mrinda is a playground for your taste buds. Imagine a world where sunshine ripens oranges into juicy explosions, orchards overflow with a symphony of fruity flavors, and crisp green apples burst with tangy delight. Mirinda captures all this in every sip, a vibrant dance on your tongue that leaves you feeling carefree and refreshed.
         Forget the mundane, the predictable. Mirinda is an invitation to embrace the unexpected, a kaleidoscope of flavors waiting to be explored. Whether you crave the classic citrus zing of Mirinda Orange, the playful mix of fruity surprises, or the invigorating bite of Green Apple, there's an adventure waiting for you. So, grab a bottle, take a sip, and let the sunshine fizz its way into your day.</p>
        <a href="{% url 'product-list' %}" class="shop-now-button"><span>Shop Now</span><i class="fas fa-shopping-cart"></i></a>
</div>
        <div class="slideshow-container">
            <img loading="lazy" class="brand-image" src="{% static 'images/Mirlogo.png' %}" alt="Pepsi">
            <img loading="lazy" class="brand-image" src="{% static 'images/mircan.png' %}" alt="Pepsi">
            <img loading="lazy" class="brand-image" src="{% static 'images/mirF.png' %}" alt="Pepsi">
            <img loading="lazy" class="brand-image" src="{% static 'images/mir2.png' %}" alt="Pepsi">
            <img loading="lazy" class="brand-image" src="{% static 'images/mir3.png' %}" alt="Pepsi">
        </div>
    </div>
    <div class="brand-container" id="Everess">
        <h3>EVERESS</h3>
        <div class="text-container">
        <p> Evervess transcends the soda spectrum. Not sugary sweet, not harshly bitter, it's a world unto itself. A dance of delicate bubbles and crisp refreshment, perfect for those seeking a unique and sophisticated escape.</p>
          <a href="{% url 'product-list' %}" class="shop-now-button"><span>Shop Now</span><i class="fas fa-shopping-cart"></i></a>
    </div>
        <div class="slideshow-container">
            <img loading="lazy" class="brand-image" src="{% static 'images/eve.png' %}" alt="Pepsi">
        </div>
    </div>
<div class="brand-container" id="energy-container">
    <h3>STING ENERGY DRINK</h3>
    <div class="text-container">
        <p>Surge!! Feel the power course through you with Surge, the energy drink that ignites your potential. Its invigorating blend of flavors and powerful ingredients fuels your focus, stamina, and drive, helping you conquer every challenge. Whether you're crushing deadlines, pushing limits at the gym, or chasing your dreams, Surge empowers you to reach new heights.
        FLOW! When you need pure, refreshing hydration, reach for Flow, the crystal-clear water that quenches your thirst and revitalizes your body. Flow's natural taste and essential minerals keep you feeling balanced and energized, ready to tackle whatever life throws your way. Together, Surge and Flow offer the perfect balance, fueling your mind and body for a life of unstoppable momentum.</p>
          <a href="{% url 'product-list' %}" class="shop-now-button"><span>Shop Now</span><i class="fas fa-shopping-cart"></i></a>
    </div>
        <div class="slideshow-container">
            <img loading="lazy" class="brand-image" src="{% static 'images/sting.png' %}" alt="Pepsi">
            <img loading="lazy" class="brand-image" src="{% static 'images/sting2.png' %}" alt="Pepsi">
        </div>
    </div>
<div class="brand-container" id="water-container">
    <h3>AQUAFINA WATER</h3>
    <div class="text-container">
       <p style="color: black;">Live life to the fullest, fully hydrated. Aquafina, your trusted source for pure refreshment, keeps you going with conveniently bottled, purified water. No matter your adventure – conquering a gym session or exploring new horizons – Aquafina delivers crisp, clean taste with zero calories.
        Its advanced purification removes impurities for a consistently refreshing experience. Plus, Aquafina is committed to sustainability, using more recycled plastic and promoting recycling programs. Choose Aquafina and unleash your potential, one sip at a time.</p>
    <a href="{% url 'product-list' %}" class="shop-now-button"><span>Shop Now</span><i class="fas fa-shopping-cart"></i></a></div>
    <div class="slideshow-container">
        <img loading="lazy" class="brand-image" src="{% static 'images/aquafina.png' %}" alt="Pepsi">

    </div>
</div>
</div>
<div class="brand-logos">
    <img src="{% static 'images/7up.png' %}" class="logo" alt="Logo 1" loading="lazy">
    <img src="{% static 'images/mir.png' %}" class="logo" alt="Logo 2" loading="lazy">
    <img src="{% static 'images/mtn.png' %}" class="logo" alt="Logo 3" loading="lazy">
    <img src="{% static 'images/pep-logo.png' %}" class="logo" alt="Logo 4" loading="lazy">
  </div>
<script>
    function animateOnScroll() {
    const containers = document.querySelectorAll('.brand-container');
    containers.forEach(container => {
        const containerTop = container.getBoundingClientRect().top;
        const windowHeight = window.innerHeight;
        if (containerTop < windowHeight * 0.9) {
            container.classList.add('animate');
        }
    });
}
window.addEventListener('scroll', animateOnScroll);
animateOnScroll();
document.addEventListener('DOMContentLoaded', function() {
    var video = document.getElementById('intro-video');
    var observer = new IntersectionObserver(function(entries) {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                video.setAttribute('preload', 'auto');
                video.load();
                observer.unobserve(video);
            }
        });
    });
    observer.observe(video);
});
</script>
{% endblock %}
