{% extends "sbcapp1/base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<head>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<div class="shop mx-auto max-w-screen-md px-4 sm:px-6 lg:px-8 py-6">
  <div class="title-container text-center">
    <h2 class="text-4xl md:text-5xl font-bold text-gray-800 mb-16 mt-32">Shopping Cart</h2>
  </div>
    {% if user.is_authenticated %}
  <div class="cart-jumbotron bg-gray-100 p-4 sm:p-6 md:p-8 rounded-lg shadow-md">
    {% for item in cart_items %}
      <div class="product-item bg-white p-4 mb-4 rounded-md shadow flex flex-col sm:flex-row justify-between items-center">
        <div class="text-center sm:text-left mb-4 sm:mb-0">
          <p class="text-xl md:text-2xl font-semibold text-gray-700">{{ item.product.name }} ({{ item.quantity }})</p>
          <p class="text-lg text-gray-600">Unit Price: KSH {{ item.product.price|intcomma }}</p>
        </div>
        <div class="flex space-x-4">
          <form method="post" action="{% url 'adjust_quantity' item.id %}" class="flex items-center space-x-2">
            {% csrf_token %}
            <button type="submit" name="action" value="increment" class="px-6 py-3 bg-blue-500 text-white rounded-md md:text-xl">+</button>
            <span class="text-xl md:text-2xl">{{ item.quantity }}</span>
            <button type="submit" name="action" value="decrement" class="px-6 py-3 bg-red-500 text-white rounded-md md:text-xl">-</button>
          </form>

          <form method="post" action="{% url 'remove_from_cart' item.id %}">
            {% csrf_token %}
            <button type="submit" class="px-6 py-3 bg-red-600 text-white rounded-md md:text-xl">Remove</button>
          </form>
        </div>
      </div>
    {% empty %}
      <p class="text-center text-lg md:text-xl text-gray-500">Your cart is empty.</p>
    {% endfor %}

    <div class="cart-summary mt-6 p-6 bg-white rounded-lg shadow">
      <h3 class="text-2xl md:text-3xl font-bold text-center text-gray-800 border-b-2 border-blue-800 pb-2 mb-6">Total Price: KSH {{ total_price|intcomma }}</h3>
      <form method="post" action="{% url 'checkout' %}" class="space-y-6">
        {% csrf_token %}
        <div>
            <label for="region" class="block text-xl md:text-2xl font-medium text-gray-700">
                Region:
            </label>
            <select id="region" name="region" class="block w-full mt-2 border-gray-300 rounded-md shadow-sm h-16 text-2xl px-6" required>
                <option value="Nairobi">Nairobi</option>
                <option value="Coast">Coast</option>
                <option value="Western">Western</option>
                <option value="Mt Kenya">Mt Kenya</option>
                <option value="Southern">Southern</option>
            </select>
        </div>
        <div>
          <label for="name" class="block text-xl md:text-2xl font-medium text-gray-700">Your Name:</label>
          <input type="text" id="name" name="name" class="block w-full mt-2 border-gray-300 rounded-md shadow-sm h-16 text-2xl px-6" required />
        </div>

        <div>
          <label for="phone_number" class="block text-xl md:text-2xl font-medium text-gray-700">Phone Number:</label>
          <input type="text" id="phone_number" name="phone_number" class="block w-full mt-2 border-gray-300 rounded-md shadow-sm h-16 text-2xl px-6" required />
        </div>

        <h4 class="text-blue-600 text-lg md:text-xl"><a href="{% url 'product-list' %}" class="hover:underline">Continue Shopping</a></h4>

        <input type="submit" value="Proceed Checkout" class="w-full bg-blue-600 text-white py-4 rounded-lg shadow-md hover:bg-blue-700 text-lg md:text-xl">
      </form>
    </div>
    <div class="mt-6 text-center">
      <h4 class="text-gray-700 md:text-xl">Signed in as: {{ user.email }}</h4>
      <a href="{% url 'account_logout' %}" class="inline-block mt-2 text-red-600 hover:underline md:text-xl">Logout</a>
    </div>
  </div>
  {% else %}
    <p class="text-center text-lg md:text-xl text-gray-500">Please log in to view your cart.</p>
    <a href="{% url 'account_login' %}" class="text-blue-600 hover:underline">Login</a>
  {% endif %}
</div>

{% endblock %}
