<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Application Success</title>
    <script>
        setTimeout(function() {
            window.location.href = "{% url 'advertisement_list' %}";
        }, 3000); 
    </script>
</head>
<body>
    <h1>Your Job Application submission was successful!</h1>
    <h2>We will get back to you shortly with the feedback. Thank you and all the best.</h2>
</body>
</html>