{% extends "sbcapp1/base.html" %}
{% load static %}
{% block content %}
{{ form.media }}
<div class="form-container max-w-6xl mx-auto p-8 md:p-12 lg:p-16 mt-20">
    <h2 class="text-center text-5xl font-bold mb-12">SBC KENYA Job Application Form</h2>
    <form id="job_application_form" method="post" enctype="multipart/form-data" class="space-y-12">
        {% csrf_token %}
        {% for field in form %}
            {% if field.name != 'declaration_agreement' %}
                <div class="mb-12">
                    <label class="text-3xl">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-red-600">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
        <div class="declaration mb-12">
            <label class="flex items-center space-x-4">
                {{ form.declaration_agreement.errors }}
                <input type="checkbox" name="{{ form.declaration_agreement.name }}" id="id_declaration_agreement" class="form-checkbox text-blue-600 h-8 w-8">
                <span class="text-3xl">{{ form.declaration_agreement.label }}</span>
            </label>
        </div>

        <p class="text-2xl text-gray-700 mb-12">{{ form.instance.declaration_statement }}</p>

        <button type="submit" class="bg-blue-600 text-white text-3xl py-4 px-12 rounded-lg hover:bg-blue-700 transition duration-200">
            Submit
        </button>
    </form>
</div>

{% endblock %}