<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>SBC KENYA LTD.</title>
  <link rel="preload" href="{% static 'css/navbar.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
  <noscript>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
  </noscript>
  <!-- 1ST BOOTSTRAP -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous" />
  <!-- 2ND IS MEDIUM-EDITOR  Ensure you read the license agreements carefully for open source https://github.com/yabwe/medium-editor  -->
  <script src="//cdn.jsdelivr.net/medium-editor/latest/js/medium-editor.min.js"></script>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css" type="text/css"
    media="screen" charset="utf-8" />
  <!-- 3RD CUSTOM CSS -->
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <!-- 4TH FONTS -->
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">


</head>

<body data-aos="fade">
  <nav class="nav">
    <div class="container">
      <div class="logo">
        <a href="{% url 'sbcapp:home' %}" class="logo-link">SBC KENYA LIMITED</a>
      </div>
      <div class="navTrigger" id="navTrigger">
        <i></i>
        <i></i>
        <i></i>
      </div>
      <div class="main_list" id="mainListDiv">
        <ul class="navlinks">
          <li class="close-button animate">
            <button class="close-btn" id="closeBtn"><i class="fas fa-times"></i></button>
          </li>
          <li class="animate"><a href="{% url 'sbcapp:home' %}"><i class="fas fa-home"></i></a></li>
          <li class="animate has-dropdown">
            <a href="{% url 'sbcapp:about' %}">Our&nbsp;Story</a>
          </li>
          <li class="animate has-dropdown">
            <a href="{% url 'sbcapp:brands' %}">Brands</a>
            <div class="dropdown-content">
              <a href="{% url 'sbcapp:brands' %}#carbonated-container">Carbonated Beverages</a>
              <a href="{% url 'sbcapp:brands' %}#water-container">Aquafina Drinking Water</a>
              <a href="{% url 'sbcapp:brands' %}#energy-container">Sting Energy Drinks</a>
            </div>
          </li>
          <li class="animate"><a href="{% url 'gallery:media_list' %}"> Media&nbsp;Center</a></li>
          <li class="animate"><a href="{% url 'social:social' %}"> Social</a></li>
          <li class="animate has-dropdown">
            <a href="#" onclick="return false;">Opportunities</a>
            <div class="dropdown-content">
              <a href="{% url 'recruitment:advertisement_list' %}">Careers</a>
              <a href="{% url 'procurement:tender_list' %}">Tenders</a>
            </div>
          </li>
          <li class="animate"><a href="{% url 'contact:contact' %}"> Contact&nbsp;Us</a></li>
          <li id="cartIconContainer" class="animate">
            <a href="{% url 'store:cart' %}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-shopping-cart fa-stack-1x"></i>
                <span id="cartItemCount" class="fa-stack-1x cart-item-count">0</span>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="success-message-container">
      <div id="successMessage" class="success-message">
        Product added to cart.
      </div>
    </div>
  </nav>
  {% block content %}
  <!-- Everything that is outside this is inherited when you extend in the child  -->
  {% endblock %}

  <footer class="bg-gray-800 text-white py-10">
    <div class="container mx-auto flex flex-wrap justify-between">
      <div class="flex-1 text-center lg:text-left mb-8 lg:mb-0">
        <h2 class="text-xl font-bold mb-4">SBC KENYA LTD</h2>
        <p class="text-lg">P.O Box 76748-00620 Nairobi</p>
        <p class="text-lg">Ruaraka off BabaDogo Road</p>
        <div class="mt-8">
          <h3 class="text-lg font-bold mb-4">Contact Us</h3>
          <p class="mb-2 text-lg">&#9993; Email: <a href="mailto:info@sbckenya.com"
              class="hover:text-red-500">info@sbckenya.com</a></p>
          <p class="text-lg">&#9742; Phone: <a href="tel:(020)8635000" class="hover:text-red-500">(020) 8635000</a></p>
        </div>
        <p><a href="{% url 'sbcapp:privacy_and_terms' %}" class="underline text-lg hover:text-red-500">Privacy
            Policy</a></p>
        <p><a href="{% url 'sbcapp:privacy_and_terms' %}" class="underline text-lg hover:text-red-500">Terms of
            Service</a></p>
        <p class="text-lg">&copy; 2024 SBC KENYA LTD. All rights reserved.</p>
      </div>
      <div class="flex-1 text-center lg:text-left mb-8 lg:mb-0">
        <div class="mb-8">
          <h3 class="text-lg font-bold mb-4">Quick Links</h3>
          <a href="{% url 'sbcapp:home' %}" class="block text-lg hover:text-red-500">Our Home</a>
          <a href="{% url 'sbcapp:about' %}" class="block text-lg hover:text-red-500">Our Story</a>
          <a href="{% url 'sbcapp:brands' %}" class="block text-lg hover:text-red-500">Brands</a>
          <a href="{% url 'store:category_list' %}" class="text-white hover:text-gray-300">Categories</a>

        </div>
        <div>
          <h3 class="text-lg font-bold mb-4">Opportunities</h3>
          <a href="{% url 'recruitment:advertisement_list' %}" class="block text-lg hover:text-red-500">Careers</a>
          <a href="{% url 'procurement:tender_list' %}" class="block text-lg hover:text-red-500">Tenders</a>
        </div>
      </div>
      <div class="flex-1 text-center lg:text-left">
        <h3 class="text-lg font-bold mb-4">Follow Us on Social Media</h3>
        <a href="#" class="block text-lg hover:text-red-500"><i class="fab fa-facebook-f"></i> Facebook</a>
        <a href="#" class="block text-lg hover:text-red-500"><i class="fab fa-twitter"></i> Twitter</a>
        <a href="#" class="block text-lg hover:text-red-500"><i class="fab fa-instagram"></i> Instagram</a>
        <a href="#" class="block text-lg hover:text-red-500"><i class="fab fa-tiktok"></i> TikTok</a>
        <a href="#" class="block text-lg hover:text-red-500"><i class="fab fa-youtube"></i> YouTube</a>
        <a href="#" class="block text-lg hover:text-red-500"><i class="fab fa-linkedin"></i> LinkedIn</a>
        <a href="#" class="block text-lg hover:text-red-500"><i class="fas fa-globe"></i> SBC Kenya Ltd</a>
      </div>
    </div>
  </footer>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const navTrigger = document.querySelector('.navTrigger');
      const mainListDiv = document.querySelector('.main_list');
      const closeBtn = document.querySelector('.close-btn');
      function toggleMainList() {
        mainListDiv.classList.toggle('show');
        navTrigger.classList.toggle('active');
      }
      navTrigger.addEventListener('click', function () {
        toggleMainList();
      });

      closeBtn.addEventListener('click', function () {
        toggleMainList();
      });
      const navLinks = document.querySelectorAll('.navlinks li a');
      navLinks.forEach(function (navLink) {
        navLink.addEventListener('click', function () {
          mainListDiv.classList.remove('show');
          navTrigger.classList.remove('active');
        });
      });
    });
  </script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'js/script.js' %}"></script>
  
  </div>
  {% include "store/product_added_modal.html" %}
  <script src="{% static 'js/productmodal.js' %}"></script>

</body>

</html>